/* Media quarry*/
$maxSmall: "(max-width: 767px)";
$minSmall: "(min-width: 768px)";
$minMedium: "(min-width: 992px)";
$maxMedium: "(max-width: 991px)";
$minLarge: "(min-width: 1200px)";
$maxLarge: "(max-width: 1199px)";

$main-color: #10cab7;
$secondary-color: #2c4755;
$section-background: #f6f6f6;
$section-padding: 60px;